body {
    font-family: Arial, sans-serif;
    background-color: #f9fff0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.menu-container {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f0fff0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
    font-size: 28px;
    background-color: #dfe8f2;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    color: #333;
    border: 1px solid #000;
}

.btn {
    display: block;
    width: 200px;
    padding: 10px;
    margin: 10px auto;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background-color: darkgreen;
}
